<section>
  <h2 class="features-header">The Best Tools for Your Team</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/collaboration.svg" class="img-fluid feature-img" alt="">
      <h3>Seamless Collaboration</h3>
      <p>Collaborate in real-time from anywhere. Stay in sync by branch and steamline your team’s workflow</p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/enterprise.svg" class="img-fluid feature-img" alt="">
      <h3>Enterprise Grade</h3>
      <p>We understand how important software development is to your business. Our systems have guaranteed 99.9% uptime</p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/github-integration.svg" class="img-fluid feature-img" alt="">
      <h3>Connect with Github</h3>
      <p>Connect with Github and sync all of your team’s code automagically. Spend less time setting up and more time collaborating</p>
    </div>
  </div>
</section>