<section class="get-started">
  <div class="box row">
    <div class="col-md-6">
      <ul class="feature-list">
        <li><img src="assets/images/checkmark.svg" alt="checkmark"> Real-time collaboration</li>
        <li><img src="assets/images/checkmark.svg" alt="checkmark"> Github integration</li>
        <li><img src="assets/images/checkmark.svg" alt="checkmark"> Enterprise support</li>
        <li><img src="assets/images/checkmark.svg" alt="checkmark"> Reliable uptime</li>
      </ul>
    </div>
    <div class="col-md-6">
        <a href="/earlyaccess"><button class="btn btn-primary btn-lg get-started-btn">Get Started</button></a>
    </div>
  </div>
</section>