---
---

// 
// General styles 
// 

.cursor1 {
  color: #33FF99;
  animation: Typewriter-cursor 1s infinite;
}

.cursor2 {
  color: #FFA333;
  animation: Typewriter-cursor 1s infinite;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700|Roboto:300,400,500,700,900');

body {
  background-color: #303030;   
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: white;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: white;
}

.btn {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: black;
}

.btn-primary {
  background: #33FF99;
  border-color: #33FF99;
  border-radius: 5px;
  
}

.btn-lg {
  font-size: 24px;  
}

.btn-primary:hover {
  background: #33FF99;
  border-color: #33FF99;
}


// 
// Main Page Styles
// 

.header {
  min-height: 90vh;
  display: flex;
  align-items: center;
  
  .row {
    display: flex;
    align-items: center;
  }

  .header-img {
    margin-top: 40px;
    box-shadow: 0px 0px 10px #33FF99;
  }
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #303030;
  .navbar-brand {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: white;
    font-size: 36px;
  }
}

section {
  min-height: 100vh;
  background: #FFFFFF;
  padding: 10px 10px;
  h1, h2, h3, h4, h5, h6 {
    color: black;
  }

  p {
    color: black;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .feature-img {
    display: inline;
    max-height: 300px;
  }
  .features-header {
    text-align: center;
    font-weight: 500;
    padding: 50px 0px;
  }

  .shadow{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  }
}

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;

  
  .box {
    width: 1000px;
    min-height: 400px;
    background-color: #303030;
    padding-top: 30px;
    @media screen and (min-width: 748px) {
        padding: 90px;
    } 

    .feature-list {
      font-family: 'Roboto Mono', monospace;
      list-style: none;
      text-align: left;
      color: white;
      font-size: 18px;
      li {
        margin-top: 20px;
        img {
          margin-top: 0x !important;
          margin-right: 10px;
        }
      }
    }

    .get-started-btn {
      margin: 50px 0px;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
}

.access {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}