---
---

// 
// General styles 
// 

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Roboto:300,400,500,700,900');

body {
  background-color: #F7F7F7;   
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
}

img {
  margin-top: 25px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

.btn-primary {
  background-color: #2E3EB8;
  border-radius: 5px;
  
}

.btn-lg {
  font-size: 24px;  
}

.btn-primary:hover {
  background-color: #2E3EB8;
}


// 
// Main Page Styles
// 

.header {
  min-height: 90vh;
  display: flex;
  align-items: center;
  
  .row {
    display: flex;
    align-items: center;
  }
}

.navbar {
  display: flex;
  align-items: center;
  .navbar-brand {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: black;
    font-size: 36px;
  }
}

section {
  min-height: 75vh;
}

section {
  min-height: 75vh;
  display: flex;
  align-items: center;
  
  .row {
    display: flex;
    align-items: center;
  }

  .shadow{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  }
}

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  br {
    content: '\A';
    display: contents;
    white-space: pre;
  }
}

.access {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    .message {
      max-width: 600px;
      text-align: center;
      p {
        text-align: justify;
      }
    }
  }
  
}